@import './antd.css';

.App {
  text-align: center;
  background-color: #232f3f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  align-self: flex-start;
  position: fixed;
  top: 0;
  margin-left: 20pt;
}

.App-main {
  padding: 5pt;
}

.App-footer {
  position: fixed;
  bottom: 0;
}

.day-number-header {
  font-size: 24pt;
  font-weight: 700;
}

.day-number {
  color: #1dd1a1;
  font-size: 120pt;
  font-weight: 700;
  margin-top: -30px;
  margin-bottom: 0px;
}
